    
body{
    background-color: #001d3d;
    margin: 0;
    padding: 0;
}
/* video header */

.video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70%;
    object-fit: cover;
}
/* barre navigation */
table{
    table-layout: fixed;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-top: 3%;
    width: 100%;
}

table td{

    padding: 30px 40px; /*bouger la nav*/
    
}

.menu{
    display: flex;
    justify-content: space-between;
    
}


.menu::after{
    content: '';
    clear: both;
    display: block;
    
}

.menu a{

    display: block;
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    
    
}

.menu li{
    position: relative;
    
}

.menu > li{
    float: left;
    
}

.menu, .menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}

.menu ul li+li{
    border-top: 1px solid #fff;
    
    
}

.menu ul{
    position: absolute;
    box-shadow:  5px 5px 10px 0 rgba(0,0,0, 0.5);
    
}

.menu > li ul, .menu ul ul{
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    z-index: -1;
    visibility: hidden;
    
}

.menu > li ul{
    top: 130%;
    left: 0;
    
}

.menu ul ul{
    left: 130%;
    top: 0;
    
}

.menu ul a{
    width: 250px;
    
}

.menu > li:hover > ul{
    top: 100%;
    opacity: 1;
    z-index: 1;
    visibility: visible;
    
}

.menu ul > li:hover > ul{
    left: 100%;
    opacity: 1;
    z-index: 1;
    visibility: visible;
    
}

.menu-gold, .menu-gold a{
    background-color: rgb(255, 255, 255);
    color: #000;
    border-radius: 5px;
    
}
.menu-gold a:hover{
    background-color: #0096e6;
    color: #000;
    
}
input{
    margin: 8px 20px;
    padding: 10px;
    width: 250px;
    border-radius: 30px;
    border:none;
    background-color: #f2f2f2;
    outline:none;

}


/* fonds */
.corps{
    background-color: #ffffff;
    margin-top: 380px;
    
}
.contenu{
    background-color: #000;
}