
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:wght@400;500&display=swap');
/* barre navigation */
table{
    table-layout: fixed;
    border-spacing: 0px;
    border-collapse: collapse;
    margin-top: 3%;
    width: 100%;
}

table td{

    padding: 30px 40px; /*bouger la nav*/
    
}

.menu{
    display: flex;
    justify-content: space-between;
    
}

.menu::after{
    content: '';
    clear: both;
    display: block;
    
}

.menu a{

    display: flex;
    padding: 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;
    ;
    
    
}

.menu li{
    position: relative;
    
}

.menu > li{
    float: left;
    
}

.menu, .menu ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
    
}

.menu ul li+li{
    border-top: 1px solid #fff;
    
    
}

.menu ul{
    position: absolute;
    box-shadow:  5px 5px 10px 0 rgba(0,0,0, 0.5);
    
}

.menu > li ul, .menu ul ul{
    opacity: 0;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    z-index: -1;
    visibility: hidden;
    
}

.menu > li ul{
    top: 130%;
    left: 0;
    
}

.menu ul ul{
    left: 130%;
    top: 0;
    
}

.menu ul a{
    width: 250px;
    
}

.menu > li:hover > ul{
    top: 100%;
    opacity: 1;
    z-index: 1;
    visibility: visible;
    
}

.menu ul > li:hover > ul{
    left: 100%;
    opacity: 1;
    z-index: 1;
    visibility: visible;
    
}

.menu-gold, .menu-gold a{
    background-color: rgb(255, 255, 255);
    color: #000;
    
}
.menu-gold a:hover{
    background-color: #0096e6;
    color: #000;
    
}
input{
    margin: 8px 20px;
    padding: 10px;
    width: 250px;
    border-radius: 30px;
    border:none;
    background-color: #f2f2f2;
    outline:none;
}
header{
    margin: 0;
    background-color: #a5b0bbcf;
    padding: 2.8rem ;
    margin-bottom: 1%;
}
 /*****************
    footer
 *******************/
    
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
      }
      .container{
        max-width: 1170px;
        margin:auto;
      }
      .row{
        display: flex;
        flex-wrap: wrap;
      }
      ul{
        list-style: none;
      }
      .footer{
        background-color: #24262b;
          padding: 70px 0;
      }
      .footer-col{
         width: 25%;
         padding: 0 15px;
      }
      .footer-col h4{
        font-size: 18px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
      }
      .footer-col h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
      }
      .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
      }
      .footer-col ul li a{
        font-size: 16px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
      }
      .footer-col ul li a:hover{
        color: #ffffff;
        padding-left: 8px;
      }

    
      
      .footer-col .social-links a{
        display: inline-block;
        height: 40px;
        width: 40px;
        background-color: rgba(255,255,255,0.2);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
      }
      .footer-col .social-links a:hover{
        color: #24262b;
        background-color: #ffffff;
      }
     .bouton{
      text-decoration: none;
      outline: none;
        background: rgb(0, 0, 0);
        color: #fff;
        margin-left: 30px;
    }
    .bouton:hover {
        color: #fff;
        background: #0004fc;
        border-color: #000000;
        -webkit-box-shadow: none;
        box-shadow: none;     
       
    }

  /*   body         */
  
  body{
    background-image: url(/image/commune-768x529.jpg);
    margin: 0 ;
    padding: 0;
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    font-weight: 400;
    color: #023374;
}
section {
    position: relative;
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-bottom: 3.2rem;
    background-color: white;
}
img {
    width: 40%;
    height: 40% ;
    border-radius: 3%;
    margin-left: 35%;
}

h2,h3{ text-align: center;
    margin-top: 50px;

}
.title{
    text-align: center;
    font-family: 'Playfair Display', serif;
   font-size: 2rem;
}
  
  
  main {
    max-width: 70%;
    margin: auto;
    padding: 0 2.2rem 2.4rem 3.2rem ;
    background-color: rgba(255, 255, 255, 0.621);
    margin-bottom: 1.4 rem;
  }
